# file:     calibre2jelly.cfg
# loc:      linux: place in ~/.config/
# desc:     configuration/control file for the calibre2jelly.py script
# version:  2024-11-22
# help:		see calibre2jellyfin.py -h

[Construct]

calibreStore = /home/shawn/Calibre Library
jellyfinStore = /home/shawn/tmp/books
foldermode = author,series,book
mangleMetaTitle = 2
mangleMetaTitleSort = 1
additionalAuthors = 0
bookfiletypes =
    epub
    pdf
    mobi
selectionMode = author
authorFolders =
    Andre Norton
    Dean Koontz
    ...
subjects =
    science fiction, alien contact
    thriller

[Construct2]

calibreStore = /home/shawn/Calibre Library
jellyfinStore = /home/shawn/tmp/books-nonfiction
foldermode = book
bookfiletypes =
    epub
    pdf
selectionMode = author
authorFolders =
    Donald Knuth
    Linus Torvalds
    ...

[Construct3]

calibreStore = /home/shawn/Calibre Library
jellyfinStore = /home/shawn/tmp/comics
foldermode = series,book
mangleMetaTitle = 2
mangleMetaTitleSort = 1
bookfiletypes =
    cbz
    cbr
selectionMode = author
authorFolders =
    Stan Lee
    Jim Davis
    ...
