# file:     calibre2jelly.cfg
# loc:      linux: place in ~/.config/
# desc:     configuration/control file for the calibre2jelly.py script
# version:  2024-11-22
# help:		see calibre2jellyfin.py -h

[Construct]

calibreStore = /path/to/Calibre/library
jellyfinStore = /path/to/Jellyfin/library
foldermode = author,series,book
mangleMetaTitle = 2
mangleMetaTitleSort = 1
additionalAuthors = 0
bookfiletypes =
    epub
    pdf
    mobi
selectionMode = author
authorFolders =
    Andre Norton
    Dean Koontz
    ...
subjects =
    science fiction, alien contact
    thriller

[Construct2]

calibreStore = /path/to/Calibre/library
jellyfinStore = /path/to/Jellyfin/library
foldermode = book
bookfiletypes =
    epub
    pdf
selectionMode = author
authorFolders =
    Donald Knuth
    Linus Torvalds
    ...

[Construct3]

calibreStore = /path/to/Calibre/library
jellyfinStore = /path/to/Jellyfin/library
foldermode = series,book
mangleMetaTitle = 2
mangleMetaTitleSort = 1
bookfiletypes =
    cbz
    cbr
selectionMode = author
authorFolders =
    Stan Lee
    Jim Davis
    ...
